<mat-card class="to-do-list-card">
    <mat-card-header class="center">
        <mat-card-title>
            To Do List
        </mat-card-title>
    </mat-card-header>
    <hr style="width:90%">
    <mat-card-content *ngIf="!loading; else loadingSpinner">

        <!-- Content Loaded Successfully -->
        <div *ngIf="toDoList">
            <div *ngIf="toDoList.tasks?.length">
                <div *ngFor="let task of toDoList.tasks">
                    <mat-checkbox color="primary" [checked]="task.complete" (change)="updateTaskCompleted(task)">{{ task.name }}</mat-checkbox>
                </div>
            </div>
            <div *ngIf="!toDoList.tasks?.length" class="task-list-message"><i>No Items To Display</i></div>

            <button (click)="addNewToDoListItem()" class="add-to-do-item-button" mat-button color="primary"
                aria-label="Add a new To Do Item Button">
                <mat-icon>control_point</mat-icon>
                add a new item
            </button>
        </div>

        <!-- Content Failed To Load -->
        <div *ngIf="!toDoList" class="task-list-message">
            <i>Error Loading Content, Please Try Again Later.</i>
        </div>
    </mat-card-content>
</mat-card>

<!-- Content Loading -->
<ng-template #loadingSpinner>
    <mat-card-content class="center">
        <mat-spinner></mat-spinner>
    </mat-card-content>
</ng-template>